// app global css in Sass form
.default-background {
  background-color: white;
}
.mobile-header {
  padding-top: env(safe-area-inset-top);
}
mobile-footer {
  padding-bottom: env(safe-area-inset-bottom);
}
mobile-container {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.header-image {
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  filter: grayscale(100%);
}
body {
  -webkit-touch-callout: none !important;
}
